
body {
    margin: 0;
	padding: 0;
    font-size: 10px;
    line-height: 1.6;
	font-family: 'Montserrat', sans-serif;
	background-color: #EEEBEB;
}

main {
    margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3 {
	margin: 5px;
	font-weight: normal;
}


section {
	width: 100%;
	margin-top: 50px;
}

html {
	max-width: 100vw;
}



/* * {
    outline: 1px solid red;
} */

/* NAVBAR */
div.navBtnsContainer {
    display: flex;
    justify-content: space-around;
	align-items: center;
	background-color: #4C6B24;
	height: 60px;
	border-bottom: 1px solid #B0D91C;
}

div.navBtnsContainer a {
	text-decoration: none;
	color: #3b4809;
	font-size: 12px;
	background-color: #B0D91C;
	border: 1px solid #3b4809;
	font-weight: bold;
	padding: 2px 3px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px -5px #000000;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}



/* WELCOME */

h1 {
	text-transform: uppercase;
	text-align: center;
}

div.welcomeBackground {

	height: 95vh;
	width: 100vw;
    background-image: url(img/Photos/bannière.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

div.welcomeBackgroundFilterContainer {

	height: 95vh;
	width: 100vw;
    display: flex;
    flex-direction: column;
	justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.67);
	font-size: 1.1rem;
	color: aliceblue;
	text-align: center;
}

div.welcomeBackgroundFilterContainer h1,
div.welcomeBackgroundFilterContainer h2 {
		animation:
		slideFromTop 1.5s ease-in-out forwards;
}

div.welcomeBackgroundFilterContainer a {
	text-decoration: none;
	color: aliceblue;
}

div.welcomeBackgroundFilterContainer img {
    padding: 10px 0 10px 0;
	max-height: 150px;
	width: auto;
	animation:
		slideFromTop 2s ease-in-out forwards
}



div.welcomeKeyWordsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

h3.welcomeText {
	height: 100px;
	text-align: center;
}


div.welcomeKeyWord {
	min-height: 50vh;
	height: 600px;
	max-width: 300px;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	background-color: #4C6B24;
	color: aliceblue;
	margin: 5px;
	border-radius: 5px;

}

div.welcomeKeyWord img {
	border-radius: 10px;
	margin-bottom: 10px;
	max-width: 90%;
}


/* WHO WE ARE */

section.who  {
	width: 100vw;
	background-color: #4C6B24;
	color: aliceblue;
}

div.whoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.whoContainer h2 {
	font-weight: bold;
}

div.whoContainer img {
	max-width: 250px;
	margin: 10px;
	border-radius: 10px;
}

div.whoTextContainer {
	max-width: 600px;
	font-size: 1rem;
	line-height: 1.7;
	padding: 10px;
}

div.whoTextContainer p {
	margin: 10px;
	max-width: 500px;
}


/* BUSINESS */


div.businessContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
	font-size: 1rem;
	color: #3b4809;
}

div.businessContainer h3 {
	font-weight: bold;
}

div.businessContainer img {
	border-radius: 10px;
	max-width: 300px;
}

div.BTC_Container,
div.BTB_Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 700px;
	margin-top: 20px;
	border: #B0D91C 2px solid;
	border-radius: 5px;
	padding: 10px;
}

div.BTC_TextContainer,
div.BTB_TextContainer {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-width: 500px;
}



div.businessContainer p {
	margin: 8px;
}


/* SERVICES */

section.services {
	background-color: #4C6B24;
	width: 100%;
}

div.servicesContainer {
	display: flex;
	justify-content: center;
	color: aliceblue;
	margin: 20px;
	font-size: 1rem;
}

div.servicesContainer h2 {
	font-weight: bold;
}

div.servicesTextContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	text-align: center;
	padding: 10px;
}



/* FORMULES */

div.formulesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
}

div.formulesContainer h2 {
	font-weight: bold;
	color: #3b4809;
}

div.formulesImgContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
 div.formulesImgContainer img {
	width: 90%;
	border-radius: 10px;
	margin: 10px;
 }


/* SUPPLIERS */



.suppliersContainer img {
	width: 90px;
	display: flex;
}

div.suppliersImgContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.suppliersContainer h3,
.suppliersContainer a {
	margin-top: 20px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: #3b4809;
}


/* FOOTER */

div.footerContact {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #4C6B24;
	margin-top: 10px;
}

div.footerContact i {
	font-size: 24px;
}

div.footerContact a {
	text-align: center;
	text-decoration: none;
	color: aliceblue;
	font-size: 1rem;
}

/* ========================================= */
/* CAROUSEL                   */
/* ========================================= */

/* ========================================= */
/* CAROUSEL - FORMAT VERTICAL RESPONSIVE     */
/* ========================================= */

section.carousel {
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    width: 90%;
    margin: 40px 0;
}

.carousel h2 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: #3b4809;
}

div#carousel {
	display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0;
    position: relative;
    width: 90%;
    max-width: 1000px; /* Élargi pour bien afficher les 3 photos */
    overflow: hidden; 
    border-radius: 10px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
	width: 100%;
    /* On s'assure qu'aucun espace parasite ne s'ajoute */
    gap: 0;
}

/* Format mobile par défaut (1 image) */
.slide {
    flex: 0 0 100%; 
    box-sizing: border-box;
    padding: 0 5px; /* Petit espace entre les photos */
}

.slide img {
    width: 100%;
    aspect-ratio: 3/4; /* Force un format portrait (vertical) */
    object-fit: cover; 
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Boutons de navigation */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(76, 107, 36, 0.8); 
    color: aliceblue;
    border: none;
    font-size: 2rem;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.carousel-btn:hover {
    background-color: #B0D91C; 
    color: #3b4809;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

/* Format Desktop (3 images) */
@media screen and (min-width: 1000px) {
    .slide {
        flex: 0 0 33.333%; /* Force exactement un tiers */
    }
}

/* =============== RESPONSIVE ============== */


@media screen and (min-width: 1000px) {

	div.welcomeBackgroundFilterContainer img {
		max-height: 300px;
	}

	div.welcomeKeyWordsContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: flex-start;
	}

	div.whoContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	div.whoContainer img {
		width: 380px;
	}


	div.businessContainer img {
		margin: 10px ;
	}

	div.formulesImgContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}

	div.formulesImgContainer img {
		max-width: 470px;
	}

	div.suppliersContainer {
		width: 100%;
	}

	div.suppliersImgContainer {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	div.suppliersImgContainer img {
		max-width: 100px;
	}

	div.footerContact {
		font-size: 30px;
		height: 100px;
	}
	div.footerContact {
		height: 100px;
		flex-direction: row;
	}

}


@media screen and (min-width: 1300px) {
	div.BTC_Container,
	div.BTB_Container {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		max-width: 800px;
		margin-top: 20px;

	}

	div.BTC_Container img,
	div.BTB_Container img {
		max-width: 250px;
	}

	
	div.BTC_Container p,
	div.BTB_Container p {
		padding: 20px;
	}

	div.BTC_Container {
		text-align: center;
	}

	div.BTC_Container h3 {
		text-align: center;
	}

	div.BTB_Container h3 {
		text-align: center;
	}

	div.BTB_Container {
		flex-direction: row-reverse;
		text-align: center;
	}

}

/* KEYFRAMES */

@keyframes slideFromTop {
	from {
		transform: translateY(-600px);
	}
	to {
		transform: translateY(0);
	}
}


@keyframes rotation {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}