/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* FIN DU RESET CSS */

body {
    background-color: #F9F2E8;
}

header  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F9F2E8;
}

header img {
    width: fit-content;
    max-width: 50px;
    margin: 2px;
}

.suppliers img {
    width: 100px;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4B6A22;
}

nav a {
    padding: 6px;
    text-decoration: none;
    border: 1px solid #F9F2E8;
    border-radius: 10px;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    color:#F9F2E8;
    box-shadow: 1px 5px 20px 0px rgba(0,0,0,1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.firstWelcome {
    height: 100%;
}

.firstWelcome img {
    height: 110px;
}

.firstWelcome h1, .firstWelcome h2 {
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.firstWelcome h2 {
    font-size: 15px;
    margin-top: 10px;
}



div.welcomeBackground {
    height: 30%;
    width: 100vw;
    background-image: url(img/Photos/bannière.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

div.welcomeBackgroundFilter {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.67);
}
div.welcomeBackgroundFilter img {
    padding: 10px 0 10px 0;
}

.welcomeKeyWord {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #4B6A22;
    border-radius: 15px;
    max-width: 430px;
    margin: 5px;
    box-shadow: 7px 6px 25px -9px #615E5A;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #2b3c14;
}

.firstWelcomeKeyWordsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
}

.firstWelcomeKeyWordsContainer img {
    border: 1px solid #4B6A22;
    border-radius: 15px;
    margin: 5px;
}

strong {
    font-weight: bold;
}

.viennoiseries {
    flex-direction: row-reverse;
}

.seminaire {
    flex-direction: column-reverse;
}

.seminaire h3 {
    margin : 10px
}

section.whoAreWe h2, section.services h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

section.whoAreWe, section.services {
    background-color: #4B6A22;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    letter-spacing: -1px;
    word-spacing: 1px;
    line-height: 25px;
    color: #F9F2E8;
    width: 100%;
    padding: 10px 0 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

div.whoTextContainer {
    /* max-width: 450px; */
    padding: 15px 5px 20px 5px;
}

section.whoAreWe img {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
}

section.whoAreWe p {
    max-width: 340px;
}



section.BTC, section.BTB {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    padding: 20px 10px;
    color: #2b3c14;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    letter-spacing: -1px;
    word-spacing: 1px;
    line-height: 22px;
}



section.BTC img, section.BTB img {
 max-width: 300px;
 border-radius: 20px;
 padding: 10px;
}

section.BTC h2, section.BTB h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 20px;
}

section.BTC p, section.BTB p {
    margin: 10px;
}

.BTCTextContainer, .BTBTextContainer {
    height: 100%;
}

section.services p {
    max-width: 800px;
    margin: 20px;
}

section.formule {
    width: 100%;
}

section.formules img {
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
}

.formules {
    display: flex;
    flex-direction: column;
}


@media (min-width: 1000px) {
    section.whoAreWe {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div.whoTextContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    section.whoAreWe p {
        max-width: 800px;
        font-size: 16px;
    }

    section.whoAreWe h2,
    section.services h2 {
        font-size: 28px;
    }

}





@media (min-width: 1080px) {
    .firstWelcomeKeyWordsContainer {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .firstWelcomeKeyWord {
        height: 144px;
        margin: 40px;
    }
    .seminaire {
    flex-direction: row;
    }
    .business_SectionContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    section.BTB, section.BTC {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: end;
    }
    section.BTC img, section.BTB img {
    max-width: 220px;
    border-radius: 20px;
    }
    div.whoTextContainer {
    max-width: 650px;
    }

}



@media (min-width: 1200px) {
    .viennoiseries img, .brunch img {
        height: 200px;
        border-radius: 10px;
    }
    .seminaire {
        height: 216px;
    }
    section.whoAreWe img {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    }
    .BTC p, .BTB p {
        width: 300px;
    }
    .formules {
    display: flex;
    flex-direction: row;
    }
    .formules img {
        margin: 0 10px;
        border-radius: 10px;
    }

}