/* 1. On fixe une base propre */
body {
    margin: 0;
    font-size: 12px; /* Un peu plus petit par défaut */
    line-height: 1.6;
	font-size: clamp(12px, 1.5vw + 1rem, 22px);
}

img[alt~='Formules'] {
	max-width: 50%;
}

.suppliersContainer img {
	width: 50px;
	display: flex;
}

/* 2. LE SECRET : On empêche le site de s'étaler à l'infini sur Desktop */
main {
	max-width: 95%;
    margin: 0 auto;   /* On le centre au milieu de l'écran */
}

html {
	width: 100vw;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
}

img {
	max-width: 200px;
}

div.welcomeBackground {
	max-height: 40vh;
	width: 100vw;
    background-image: url(img/Photos/bannière.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

div.welcomeBackgroundFilterContainer {
	max-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.67);
	font-size: 0.5em;
	color: aliceblue;
}

div.welcomeBackgroundFilterContainer img {
    padding: 10px 0 10px 0;
	max-height: 100px;
	width: auto;
}

div.welcomeKeyWordsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.welcomeKeyWord {
	min-height: 100vh;
	max-width: 300px;
	border: 1px solid red;
	font-size: 1em;

	margin: 10px 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}

div.welcomeKeyWord img {
	border-radius: 10px;
	margin-top: 10px;
	max-width: 90%;
}

@media screen and (min-width: 1000px) {
	div.welcomeKeyWordsContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
}