/* 1. On fixe une base propre */
body {
    margin: 0;
    font-size: 10px; /* Un peu plus petit par défaut */
    line-height: 1.6;
	font-size: clamp(12px, 1.5vw + 1rem, 22px);
	width: 100%;
}

img[alt~='Formules'] {
	max-width: 50%;
}

.suppliersContainer img {
	width: 50px;
	display: flex;
}

/* 2. LE SECRET : On empêche le site de s'étaler à l'infini sur Desktop */
main {
	max-width: 95%;
    margin: 0 auto;   /* On le centre au milieu de l'écran */
}

h1,
h2,
h3 {
	margin: 0;
}

html {
	max-width: 100vw;	
}


nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
}

img {
	max-width: 250px;
}

div.welcomeBackground {

	height: 45vh;
	width: 100vw;
    background-image: url(img/Photos/bannière.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

div.welcomeBackgroundFilterContainer {

	height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.67);
	font-size: 1rem;
	color: aliceblue;
	text-align: center;
}

div.welcomeBackgroundFilterContainer img {
    padding: 10px 0 10px 0;
	max-height: 100px;
	width: auto;
}

div.welcomeKeyWordsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.welcomeKeyWord {
	min-height: 70vh;
	max-width: 300px;
	border: 1px solid red;
	font-size: 1.2rem;

	margin: 10px 5px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	text-align: center;
}

div.welcomeKeyWord img {
	border-radius: 10px;
	margin-bottom: 10px;
	max-width: 90%;
}

div.whoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.whoContainer img {
	width: 300px;
	max-width: 400px;
	margin: 10px;
	border-radius: 10px;
}

div.whoTextContainer {
	max-width: 600px;
	font-size: 1.1rem;
}


/* BUSINESS */


div.businessContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.businessContainer img {
	border-radius: 10px;;
}

div.BTC_Container,
div.BTB_Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;
	margin-top: 20px;
}

div.BTC_TextContainer,
div.BTB_TextContainer {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}


/* SERVICES */
div.servicesContainer {
	display: flex;
	justify-content: center;
}

div.servicesTextContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
}







@media screen and (min-width: 1000px) {
	div.welcomeKeyWordsContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}
	div.whoContainer {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}
	div.whoContainer img {
		max-width: 300px;
	}

}


@media screen and (min-width: 1200px) {
	
	div.BTC_Container,
	div.BTB_Container {
		display: flex;
		flex-direction: row;
		max-width: 95%;
		text-align: left;
		text-align: center;
	}

	div.BTC_Container {
		align-items: flex-start;
	}

	div.BTB_Container {
		align-items: flex-start;
	}

	div.businessContainer {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top: 40px;
	}

	div.BTC_TextContainer p,
	div.BTB_TextContainer p{
		max-width: 350px;
		margin: 35px;
	}
	
	h3 {
		margin-right: 10px;
	}
	
}